body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.weather-body {
  margin-top: 20px;
  text-align: center;
}

.city-btn {
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px solid rgba(64, 158, 255, 0.27);
  background-color: #fff;
  border-radius: 5px;
}
